*{
	margin: 0;
	padding: 0;
}
body{
	background-color: white;
	font-family: Arial,sans-serif; 
}
.tm-header{
	background-color: white;
	height: 154px;	
}
.tm-header::after{
	content: " ";
	clear: both;
	display: block;
}
.tm-container{
	width: 1005px;
	margin: 0 auto;
	height: 67px;
	padding-top: 22px;
}
.tm-container a{
	display: block;
	width: 155px;
	height: 44px;	
}
.tm-container img{
	margin-top: 48px;
}
.tm-container1{
	width: 1005px;
	margin: 0 auto;
	height: 65px;
}
.tm-img1{
	float: left;
	margin-top: 20px;
}
.tm-img2{
	float: right;
	margin-top: -12px;
}
.tm-section{
	background-color: #d83230;
	position: relative;
}
.tm-section1{
	height: 361px;
	width: 1005px;
	margin: 0 auto;
	position: relative;
}
.tm-transparent{
	position: absolute;
	background-color: #ad2826;
	height: 20px;
	margin-top: -20px;
	width: 100%;
}
.tm-form{
	width: 310px;
    position: relative;
    margin: 0 30px 30px 0;
    padding: 15px 0 10px 15px;
    float: left;
    height: auto;
}
.tm-form-title{
	font-size: 20px;
	line-height: 15px;
	color: white;
	width: 295px;
	margin-right: 0;
}
.tm-form-title1{
	font-size: 36px;
    line-height: 25px;
    margin: 13px 0 15px;
    color: white;
}
.tm-from1{
	position: absolute;
	padding: 10px 15px 20px;
    width: 280px;
    background-color: #ad2826;
    z-index: 2;
}
.tm-section1::after{
	content: " ";
	clear: both;
	display: block;
}
form{
	margin-left: -7px;
}
.tm-form-input{
	width: 280px;
	margin: auto;
	padding: 5px 0; 
}
.tm-form-input input{
	width: 100%;
	border: 1px solid #ccc;
	font-size: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	height: 26px;
	margin-bottom: 10px;
}
.tm-form-input input::after{
	content: " ";
	clear: both;
	display: inline-block;
}
.tm-form-check{
	position: absolute;
	left:17px;
	margin-top: -6px;
}
#tm-check{
	width: 20px;
	height: 20px;
	border: 1px solid #ccc;
}	
label{
	display: inline-block;
	color: white; 
	height: 21px;
}
.tm-remember{
	font-size: 13px; 
}
.tm-remember1{
	font-size: 10px;
}
.tm-form-button{
	border-width: 0px;
	width: 280px;
    float: left;
    padding: 0;
    height: 45px;
    margin-left: 7px;
    margin-top: 35px;
    margin-bottom: 10px;	
    background: #F28005;
}
.tm-text{
	font-family: 'Crimson Text', serif;
	color: white;
	text-transform: uppercase;
	font-size: 21px;
}
.tm-form-button:hover{
	background: red;
	transition: all .3s ease-in 0s;
}
.tm-form-link{
	font-size: 12px;
    text-decoration: underline;
    color: #fff;
    margin: 0;
    float: left;
}
.tm-first{
	font-size: 36px;
	color: white;
	padding: 0 10px;
	line-height: 197px;
	text-transform: uppercase;
	position: relative;
}
.tm-line1{
	position: absolute;
	top: 104px;
	left: 346px;
}
.tm-line2{
	position: absolute;
	top: 104px;
	left: 845px;
}
.tm-section-box1{
	position: absolute;
	float: right;
    width: 325px;
    background: #ad2826;
    color: #fff;
    padding: 15px 0;
    margin-right: 15px;
    height: auto;
    left: 338px;
    top: 130px;
}
.tm-section-boxtext{
	color: white;
	margin-top: 35px;
	font-size: 24px;
    text-transform: uppercase;
    line-height: 40px;
    text-align: center;
}
.tm-button1{
	border-width: 0; 
	background: #3FB0EB;
    height: 45px;
    line-height: 45px;
    display: inline-block;
    margin: 14px 25px 29px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    width: 273px;
}
.tm-text1{
	color: white;
	text-transform: uppercase;
	font-size: 19px;
}
.tm-button1:hover{
	background: #105ad1;
}
.tm-section-box2{
	position: absolute;
	float: right;
    width: 325px;
    background: #ad2826;
    color: #fff;
    padding: 15px 0;
    margin-right: 15px;
    height: auto;
    left: 678px;
    top: 130px;
}
.tm-button2{
	background: #F28005;
}
.tm-button2:hover{
	background: red;
}
.tm-link-button{
	text-decoration: none; 
}
.tm-article{
	background-image: url('img/background.jpg');
	width: 100%;
	height: 432px;
	margin-top: 3px;
}
.tm-article-wrapper{
	width: 1012px;
	margin: 0 auto;
	height: 432px; 
}
.tm-openbook{
	position: relative;
	color: white;
	font-size: 38px;
	padding: 22px 0px 3px 0px;
	font-weight: 400; 
}
.tm-openbook-img{
	position: absolute;
	top: 610px;
	left: 772px;	
}
.tm-openbook-video{
	position: absolute;
	top: 603px;
	left: 190px;
}
.tm-article1{
	width: 1012px;
	margin: 0 auto;
	height: auto;
	position: relative;
}
.tm-article2{
	font-family: 'Crimson Text', serif;
	color: #d83230;
    text-align: center;
    margin-top: 40px;
    font-size: 38px;
}
.tm-reading1{
	position: absolute;
	top: 80px;
	left: 20px;
	z-index: +1;
}
.tm-reading1-line1{
	position: absolute;
	top: 245px;
	left: 10px;
}
.tm-reading1-first{
	position: absolute;
	color: #d83230;
	top: 232px;
	font-size: 20px; 
	left: 120px;
	font-weight: bold;
}
.tm-reading1-line2{
	left: 138px;
}
.tm-reading-wrapper1{
	width: 225px;
	margin-bottom: 18px;
	position: absolute;
	top: 265px;
	left: 13px;
}
.tm-wrapper{
	width: 84%;
	margin: 0 auto;
}
.tm-reading1-p1{
	color: #3a3a3a;
    font-size: 18px;
    margin-top: 0px;
    text-align: center;
}
.tm-reading2{
	position: absolute;
	top: 80px;
	left: 268px;
	z-index: +1;
}
.tm-reading2-line1{
	left: 265px;
}
.tm-reading2-first{
	left: 375px;
}
.tm-reading2-line2{
	left: 393px;
}
.tm-reading-wrapper2{
	left: 268px;
}
.tm-reading3{
	position: absolute;
	top: 80px;
	left: 518px;
	z-index: +1;
}
.tm-reading3-line1{
	left: 520px;
}
.tm-reading3-first{
	left: 630px;
}
.tm-reading3-line2{
	left: 648px;
}
.tm-reading-wrapper3{
	left: 523px;
}
.tm-free{
	font-weight: bold;
}
.tm-reading4{
	position: absolute;
	top: 80px;
	left: 768px;
	z-index: +1;
}
.tm-reading4-line1{
	left: 775px;
}
.tm-reading4-first{
	left: 885px;
}
.tm-reading4-line2{
	left: 903px;
}
.tm-reading-wrapper4{
	left: 778px;
}
.tm-article3{
	background-color: #f4f1ea;
	height: 490px;
	margin-top: 360px;
	position: relative;
}
.tm-article3-start{
	font-family: 'Crimson Text', serif;
	color: #d83230;
    font-size: 40px;
    margin-bottom: 15px;
    padding-top: 20px;
    font-weight: 400;
}
.tm-article3-video{
	position: absolute;
	top: 85px;
	left: 175px;
}
.tm-article4-wrapper{
	width: 1012px;
	margin: 0 auto;
	height: auto;
	position: relative;
}
.tm-article4-teachers{
	color: #d83230;
    font-weight: 400;
    font-size: 36px;
    font-family: 'Crimson Text', serif;
    text-align: center;
    margin-top: 42px;
    margin-bottom: 22px;
    line-height: 1.165;
    position: relative; 
}
.tm-article4-line1{
	position: absolute;
	width: 0.01px;
}
.tm-article4{
	position: relative;
}
.tm-article4-width{
	position: absolute;
	width: 245px;
	margin-bottom: 50px; 
}
.tm-para-wrapper{
	width: 85%;
	margin: 0 auto;
}
.tm-article4-para1{
	color: #3a3a3a;
    font-size: 1.4rem;
    line-height: 1.285;
    font-weight: 400;
}
.tm-article4-link{
	text-decoration: none;
}
.tm-article4-line2{
	left: 247px;
}
.tm-article4-width2{
	left: 262px;
}
.tm-article4-line3{
	left: 520px;
}
.tm-article4-width3{
	left: 527px;
}
.tm-article4-line4{
	left: 774px;
}
.tm-article4-width4{
	left: 784px;
}
.tm-article4-line5{
	left: 1031px;
}
.tm-article5{
	background-color:#f4f1ea;
	height: 215px;
	margin-top: 160px; 
}
.tm-article5-wrapper{
	width: 1012px;
	margin: 0 auto;
	position: relative;
}
.tm-article5-start{
	font-family: 'Crimson Text', serif;
	font-size: 36px;
    color: #D73131;
    padding-top: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.tm-article5-teacher{
	position: absolute;
	text-transform: uppercase;
	font-size: 32px;
	color: #3FB0EB;
	font-weight: 550;
	top: 100px;
	left: 155px;
}
.tm-article5-parent{
	color: #f88000;
	left: 680px;
}
.tm-article5-button1{
	position: absolute;
	border-width: 0; 
	background: #3FB0EB;
    height: 45px;
    margin: 14px 25px 29px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    width: 520px;
    top: 140px;
    left: -50px;
}
.tm-article5-button2{
	position: absolute;
	background: #f88000;
	left: 480px;   	
}
.tm-footer{
	margin-top: 90px;
	position: relative;
}
.tm-block1{
	position: absolute;
	background-color:#f4f1ea;
	width: 175px;
	height: 175px;
}
.tm-block2{
	position: absolute;
	background-color:#f4f1ea;
	height: 175px;
	width: 249px;
	left: 179px;
}
.tm-heading2{
	position: absolute;
	left: 18px;
	top: 15px;
	text-transform: uppercase;
	font-size: 14px;
}
.tm-para1{
	position: absolute;
	left: 18px;
	top: 48px;
	font-size: 15px;
}
.tm-para2{
	top: 76px;
}
.tm-para3{
	top: 104px;
}
.tm-footer-link{
	text-decoration: none;
	color: black;
}
.tm-footer-link:hover{
	color: red;
}
.tm-block3{
	position: absolute;
	background-color:#f4f1ea;
	height: 175px;
	width: 249px;
	left: 432px;
}
.tm-heading3{
	text-transform: uppercase;
	top: 115px;
	font-size: 14px;
}
.tm-block3-para3{
	top: 148px;
}
.tm-block4{
	position: absolute;
	background-color:#f4f1ea;
	height: 175px;
	width: 249px;
	left: 685px;
}
.tm-block5{
	position: absolute;
	background-color:#f4f1ea;
	height: 175px;
	width: 249px;
	left: 938px;
}
.tm-block6{
	position: absolute;
	background-color:#f4f1ea;
	width: 158px;
	height: 175px;
	left: 1191px;
}
.tm-last
{
	padding-top: 190px; 
	padding-left: 169px;
	padding-bottom: 100px;
}
.tm-last-links{
	text-decoration: none;
	color: black;
	font-size: 12px;
	padding-right: 10px;
	padding-left: 10px; 
}
.tm-last-links:hover{
	color: red;
}
.last-link1{
	padding-right: 0px;
}
.last-link{
	padding-right: 0px;
	padding-left: 0px;
}
.tm-right{
	font-size: 12px;
}